@mixin formlabelstyle {
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #000000;
}
@mixin forminputstyle {
  background: #ffffff;
  border: 1px solid #ef4136;
  border-radius: 6px;
  outline: #ef4136;
  padding: 0.8rem 1rem;
}
@mixin labelinputalign {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.signup_wrapper {
  position: relative;
  height: 100vh;
  .signup_top {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -12;
  }
  .signup_header {
    margin-left: 5rem;
    margin-right: 5rem;
    padding-top: 2rem;
    cursor: pointer;
    @media screen and (max-width: 1062px) {
      margin-left: 3rem;
      margin-right: 3rem;
    }
  }
  .signup_form_container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    margin-left: 5rem;
    margin-right: 5rem;
    @media screen and (max-width: 1062px) {
      margin-left: 3rem;
      margin-right: 3rem;
    }
    @media screen and (max-width: 1000px) {
      align-items: center;
      justify-content: center;
      padding-top: 5rem;
    }
    .signup_hero {
      z-index: 0;
      @media screen and (max-width: 1000px) {
        display: none;
      }
    }
    .signup_form_wrap {
      z-index: 1;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      width: 50%;
      @media screen and (max-width: 1000px) {
        width: 100%;
      }

      .signup_form_header {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        .signup_form_header_text1 {
          font-family: "Volkhov";
          font-style: normal;
          font-weight: 700;
          font-size: 45px;
          //   line-height: 187px;
          color: #000000;
        }
        .signup_form_header_text2_wrap {
          display: flex;
          flex-direction: row;
          @media screen and (max-width: 480px) {
            flex-direction: column;
          }
          .signup_form_header_text2_item1 {
            font-family: "Volkhov";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            // line-height: 80px;
            color: #000000;
          }
          .signup_form_header_text2_item2 {
            font-family: "Volkhov";
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            // line-height: 80px;
            color: #df6951;
            margin-left: 0.5rem;
            cursor: pointer;
            @media screen and (max-width: 480px) {
              margin-left: unset;
            }
          }
        }
      }
      .signup_form {
        margin-top: 2rem;
        display: flex;
        flex-direction: column;
        width: 100%;
        .signup_form_name {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          gap: 1.5rem;
          @media screen and (max-width: 480px) {
            flex-direction: column;
          }
          .signup_form_first_name {
            @include labelinputalign;
            width: 100%;
            .signup_form_first_name_label {
              @include formlabelstyle;
            }
            .signup_form_first_name_input {
              @include forminputstyle;
              width: 100%;
            }
          }
          .signup_form_last_name {
            width: 100%;
            @include labelinputalign;
            .signup_form_last_name_label {
              @include formlabelstyle;
            }
            .signup_form_last_name_input {
              @include forminputstyle;
              width: 100%;
            }
          }
        }
        .signup_form_email {
          width: 100%;
          margin-top: 1.5rem;
          @include labelinputalign;
          .signup_form_email_label {
            @include formlabelstyle;
          }
          .signup_form_email_input {
            @include forminputstyle;
            width: 100%;
          }
        }
        .signup_form_password {
          width: 100%;
          margin-top: 1.5rem;
          @include labelinputalign;
          .signup_form_password_label {
            @include formlabelstyle;
          }
          .signup_form_password_input {
            @include forminputstyle;
            width: 100%;
          }
        }
        .signup_button {
          background: #df6951;
          border: 1px solid #df6951;
          border-radius: 6px;
          font-family: "Volkhov";
          font-style: normal;
          font-weight: 700;
          font-size: 20px;
          color: #ffffff;
          padding: 0.8rem 0rem;
          margin-top: 2.5rem;
        }
      }
    }
  }
}
