.adminhistory_head_title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  color: rgba(30, 30, 30, 0.8);
  margin: 2rem;
}

.admin_history_empty_wrapper {
  @media screen and (max-width: 416px) {
    margin-left: 2rem;
    margin-right: 2rem;
  }
  .admin_history_empty_text {
    .admin_history_empty_head {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 600;
      font-size: 25px;
      line-height: 160%;
      color: #333333;
    }
    .admin_history_empty_text2 {
      font-family: "Poppins";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 160%;
      text-align: center;
      color: #333333;
    }
  }
}
